@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Roboto&family=Titillium+Web:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

html, body {
    width: 100%;
    display: table;
}

.container {
    padding: 30px 150px 100px 150px;
    /* background-color: #11171F; */
    margin: 0;
    box-sizing: border-box;
    background-image: url('./images/space.jpeg');
}

.header {
    padding: 20px 50px 150px 50px;
    z-index: 1;
}

.header-right {
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    float: right;
    padding-top: 20px;
    cursor: pointer;
}

.header-left {
    color: white;
    position: fixed;
    z-index: 1;
}

.header p {
    margin: 6px;
}

.header p span {
    color: #11171F;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 290px;
    z-index: 2;
}

div.hero-slides {
    position: relative;
    padding-bottom: 340px;
    padding-left: 50px;
}

div.hero-slides img {
    position: absolute;
    transition: transform 0.5s, box-shadow 0.5s ;
    cursor: pointer;
    border: 0.1px solid rgba(243, 241, 242, .4);
}

div.hero-slides img:first-child {
    z-index: 1;
}

.slide {
    max-width: 250px;
}

.scroll {
    color: rgba(243, 241, 242, .7);
    position: absolute;
    top: 550px;
    left: 430px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    padding-right: 50px;
    gap: 20px;
}

.logo {
    height: 45px;
}

.hero-title {
    background-color: #4D775B;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.hero-sub-container {
    width: 500px;
    text-align: right;
    margin-bottom: 30px;
}

.hero-subtitle {
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.hero-icons {
    display: flex;
    gap: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#mars-icon-btn, #jupiter-icon-btn, #saturn-icon-btn {
    cursor: pointer;
}

.icon-img {
    width: 42px;
    border: 0.5px solid rgba(243, 241, 242, .4);
    padding: 15px;
    border-radius: 100%;
}

.bottom-container {
    /* background-color: #F3F1F2; */
    background-image: url('./images/space.jpeg');
    padding-top: 20px;
    padding-bottom: 200px;
    color: white;
}

section {
    padding: 20px 200px 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-left {
    position: relative;
    margin: 55px;
}

.cirlce {
    width: 100px;
    height: 100px;
    background-color: #C96A45;
    border-radius: 100%;

    position: absolute;
    bottom: 50px;
    right: -50px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #593937;

    position: absolute;
    top: 50px;
    left: -50px;
}

.planet {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#planet-jup {
    width: 400px;
    height: auto;
}

.jupiter div.square {
    background-color: #C54C59;
}

.jupiter div.cirlce {
    background-color: #0F5D72;
}

.saturn div.square {
    background-color: #4D775B;
}

.saturn div.cirlce {
    background-color: #B2A56D;
}

.content-right {
    display: flex;
    flex-direction: column;
    padding: 55px;
    gap: 30px;
    max-width: 170px;
}

.planet-title {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
}

.planet-context {
    margin: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: lighter;
}

button {
    background-color: #213749;
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.jupiter {
    align-items: center;
    margin-left: 90px;
}

#jup-info {
    padding-left: 155px;
    max-width: 170px;
}

.footer {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    gap: 15px;
    background-color: #11171F;
    margin: 0px;
}

.footer-btn {
    cursor: pointer;
}

.container-toggle {
    background-image: url('./images/space.jpeg');
}

.bottom-text-toggle {
    color: white
}