@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Roboto&family=Titillium+Web:wght@300;400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    background-color: #11171F;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 0;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    color: white;
    position: fixed;
    z-index: 1;
}

.header p {
    margin: 6px;
}

.header p span {
    color: #11171F;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
}

.under-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.hero-slides {
    position: relative;
    margin-left: 150px;
    margin-bottom: 230px;
}

div.hero-slides img {
    position: absolute;
    transition: transform 0.5s, box-shadow 0.5s ;
    cursor: pointer;
}

div.hero-slides img:first-child {
    z-index: 1;
}

.slide {
    width: 250px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin-right: 50px;
}

.home {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.logo {
    height: 45px;
}

.hero-title {
    background-color: #4D775B;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.hero-sub-container {
    width: 500px;
    text-align: right;
    margin-bottom: 30px;
}

.hero-subtitle {
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.hero-icons {
    display: flex;
    gap: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mars-icon-btn, #jupiter-icon-btn, #saturn-icon-btn {
    cursor: pointer;
}

.icon-img {
    width: 42px;
    border: 0.5px solid rgba(243, 241, 242, .4);
    padding: 15px;
    border-radius: 100%;
}

.bottom-container {
    background-color: #F3F1F2;
    padding-top: 20px;
    padding-bottom: 200px;
}

section {
    padding: 20px 200px 20px 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-left {
    position: relative;
    margin: 55px;
}

.cirlce {
    width: 100px;
    height: 100px;
    background-color: #C96A45;
    border-radius: 100%;

    position: absolute;
    bottom: 50px;
    right: -50px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #593937;

    position: absolute;
    top: 50px;
    left: -50px;
}

.planet {
    position: relative;
    width: 600px;
}

#planet-jup {
    width: 400px;
    height: auto;
}

.jupiter div.square {
    background-color: #C54C59;
}

.jupiter div.cirlce {
    background-color: #0F5D72;
}

.saturn div.square {
    background-color: #4D775B;
}

.saturn div.cirlce {
    background-color: #B2A56D;
}

.content-right {
    display: flex;
    flex-direction: column;
    margin: 55px;
    gap: 30px;
}

.planet-title {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
}

.planet-context {
    margin: 0px;
    font-size: 18px;
    line-height: 27px;
    font-weight: lighter;
}

button {
    background-color: #213749;
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.jupiter {
    margin-left: 100px;
}

#jup-info {
    margin-left: 155px;
}

.footer {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    gap: 15px;
}

.footer-btn {
    cursor: pointer;
}