@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Roboto&family=Titillium+Web:wght@300;400;700&display=swap');

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

html, body {
    width: 100%;
    display: table;
    background-color: #F3F1F2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 90px;
    background-color: #11171F;
    padding: 30px 250px 30px 250px;
    gap: 100px;
    align-items: flex-end;
}

.header-right {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    cursor: pointer;
    align-items: center;
}

.title{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 45px;
    width: auto;
}

.header-left p {
    margin: 6px;
}

.header-left p span {
    color: #11171F;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
}

.pics {
    width: 35rem;
}

div.slides {
    position: relative;
}

div.slides img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   transition: transform 0.5s, box-shadow 0.5s ;
    cursor: pointer;
}

div.slides img:first-child {
    z-index: 1;
}

div.slides:hover img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.scroll {
    text-align: center;
    margin-top: 430px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 1.5rem;
}

.calender p, .calender h1 {
    margin: 0;
    padding: 0;
}

.calender {
    width: 26rem;
    border: 2px solid #11171F;
    border-radius: 10px;
    padding: 2rem;
}

.month {
    width: 26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.arrow {
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 5rem;
}

.weekdays {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.weekdays div {
    font-size: 1rem;
    width: calc(25.8rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days div {
    font-size: 1rem;
    width: calc(22.9rem/7);
    padding: .2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover {
    background-color: #4D775B;
    color: white;
}

.prev-date, .next-date {
    opacity: 0.5;
}

button {
    background-color: #213749;
    color: white;
    border: none;
    font-size: 18px;
    padding: 18px 28px 18px 28px;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 3px;
}

.footer {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    gap: 15px;
    background-color: #11171F;
}

.footer-btn {
    cursor: pointer;
}

.select {
    color: white;
    background-color: #4D775B;
    width: 10rem;
}

.select-reverse {
    color: black;
    background-color: white;
    width: 10rem;
}

.alert-img {
    margin-top: 10px;
    width: 2rem;
    display: none;
}

.alert-text {
    margin: 0;
    padding: 0;
    color: #C54C59;
    font-size: 1.2rem;
    display: none;
}